*{
    box-sizing:border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height:100vh;
    margin:0;
    align-items: center;
}

.header{
    display:flex;
    align-items: center;
    gap:30px;
 
}

.footer{
    display: flex;
    gap:30px;
    margin: 20px;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border: solid;
    width:500px;
    height:500px;
    margin: auto;
    flex-wrap: wrap;
    overflow: hidden;
    align-content:flex-start;
}